.polaris-reorderable-list {
    &__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        border: 1px solid #efefef;
        background-color: #fefefe;
        border-radius: 4px;
        position: relative;
    }

    &__item-controls {
        display: inline-flex;
        gap: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__item-content {
        padding: 8px;
    }
}
