.components-button.is-full-width {
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

.polaris-admin-help-text {
    font-size: 12px;
    font-style: normal;
    color: rgb(117, 117, 117);
}
