.builtnorth-wp-component-library-toggle-control {
	margin-top: 10px;
	.components-toggle-control__label {
		max-width: 100%;
	}
}

.builtnorth-vertical-align-control {
	svg {
		transform: rotate(90deg);
	}
}

.builtnorth-layout-controls {
	.components-panel__row {
		min-height: 0;
	}
}
